@{
    ViewBag.Title = "Home Page";
}

<h2>MUDBug Beta</h2>
<p>
    <ui>
        <li>@Html.ActionLink("Error Logs", "Index", "ErrorLog")</li>
        <li>@Html.ActionLink("Drive Space", "Index", "DriveSpaces")</li>
        <li>@Html.ActionLink("Restart", "Index", "Restart")</li>
        
    </ui>

</p>
